/* 
green - 87bf57
ligth blue - 3ab7fb
salmon - f57565
yellow - fcca65
*/

html {
  background-color: rgb(191, 191, 191);
}

#root {
  background-color: rgb(191, 191, 191);
}

.left-column {
  background-color: rgb(210, 210, 210);
}

.header {
  font-size: 2.5em;
  font-weight: 300;
  margin: 10px 0;
  text-align: center;
}

.login-box {
  margin: 0 auto;
  width: 550px;
  height: 750px;
  position: relative;
}

.login-form {
  padding-top: 20px;
  width: 400px;
  margin: 0 auto;
}

.login-switch {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  bottom: 50px;
}

.list-home {
  max-width: 600px;
}

.category-list {
  max-width: 300px;
}

.strike {
  text-decoration: line-through;
  color: rgb(167, 167, 167);
}

.hover-btn {
  background-color: rgb(134, 184, 189);
  border: solid 1px black;
}

.hover-btn:hover {
  background-color: rgb(100, 180, 187);
}
.hover-btn:active {
  background-color: rgb(67, 121, 126);
}
.hover-btn:visited {
  background-color: rgb(53, 121, 128);
}

.category-sort-display {
  cursor: pointer;
}

/* svg {
  fill: red;
} */